.div-contact {
  height: 78px;
  background: aliceblue;
}
.typooo {
  font-size: 25px !important ;
  font-weight: bold !important;
  color: #6b758a;
  /* position: relative;
  left: 4rem;
  top: 22px; */
  line-height: 75px !important;
  margin-left: 13rem !important;

  padding-left: -130px;
  text-align: left;
}
.typing {
  font-size: 27px !important;
  font-weight: 600 !important;
  line-height: 140px !important;
  text-align: left;
  padding-left: 10rem;
}
.our-contact {
  font-size: 28px !important;
  line-height: 146px !important;
  font-weight: 600 !important;
}
.display {
  display: flex;
  flex-wrap: wrap;
}
.button {
  background: black;
  color: white;
  position: relative;
  right: 4rem;
  width: 10rem;
  /* height: 3rem; */
  font-size: 18px;
  text-transform: capitalize;
}
