.textfeild {
  width: 34rem !important;

  /* border: 1px solid #d5d5d5 !important; */
}
.message {
  color: red;
  text-align: start;
}
.typography {
  font-size: 15px;
  color: #777777;

  position: relative;
  top: 1rem;
  text-align: start;
}
.box-shadow {
  margin: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  right: 9rem;

  box-shadow: 4px 6px 34px -6px grey;
  width: 40rem;
}
.register {
  text-transform: capitalize !important;
  background: beige !important;
  color: grey !important;
  width: 8rem;
  height: 3rem;
  font-size: 17px !important;
  margin-bottom: 4rem !important;
}
